<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</head>
<body>
    <h1> Employeeloyee Details </h1>
    <table class="table">
            <tr>
                <td> Id  </td>
                <td> {{Employee.id}}   </td>
            </tr>
            <tr>  
                <td> First Name  </td>
                <td> {{Employee.FirstName}}   </td>
             </tr>
             <tr>  
                <td> Last Name  </td>
                <td> {{Employee.LastName}}   </td>
            </tr>
            <tr>
                <td> Tite  </td>
                <td> {{Employee.Tite}}   </td>
            </tr>
            <tr>
                <td> Actions  </td>
                <td> {{Employee.Actions}}   </td>
            </tr>
            <tr>
                <td> HasPassport  </td>
                <td> {{Employee.HasPassport}}   </td>
            </tr>
            <tr>
                 <td>Coutry  </td>
                 <td> {{Employee.Coutry}}   </td>
            </tr> 
                 <tr>Coutry  </td>
                <td> {{Employee.Coutry}}   </td>
            </tr>
            <tr>
                <td> Notes  </td>
                <td> {{Employee.Notes}}   </td>
            </tr>
            <tr>
                <td>Email  </td>
                <td> {{Employee.Email}}   </td>
            </tr>
            <tr>
                <td>PhoneNumber  </td>
                <td> {{Employee.PhoneNumber}}   </td>
            </tr>
                     

    </table>
    <a href="{% url 'Payroll:EmployeeList' %}"> Back to List</a>
</body>
</html>
